* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
       font-family:Arial, Helvetica, sans-serif;
}

.container {
    background-color: black;
    min-height: 100vh;
    background-image:url("./pics/plainb.jpg")
}

nav {
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 40px;
    background-color: antiquewhite;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 650;
}

nav a:hover {
    color: whitesmoke;
}

h1 {
    display: inline-block;
    margin: 0px 10px 0px 150px;
    padding: 50px;
}

.hhome1 {
    margin: 30px 30px 30px 100px;
    font-weight:700;
}

.hhome2 {
    margin: 30px 30px 30px 130px;
    font-weight: 600;
}

.img1 {
    margin: 40px 50px 30px 120px;
}

.info {
    display: inline-block;
    margin-left: 8%;
    position: absolute;
    padding: 20px;
    width: 300px;
}

.info fieldset {
    width: 300px;
    background-color:antiquewhite;
    font-weight: 600;
    display: inline-block;
    position:absolute;
}

.info th ,td {
    margin:10px;
    padding: 8px;
    text-align: left;
}

p {
    margin-left: 100px;
    font-weight:550;
}

ul {
    list-style: square;
    margin-left: 180px;
    font-size: em;
    font-weight: 550;
}

.sp {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.ed_img {
    margin-left:180px;
}

.ed_t {
    font-size: 20px;
    width: 300px;
    border-collapse: collapse;
    border: 2px solid black;
}

.wimg {
    margin-left: 220px;
}

.work_t {
    display:flex;
    margin-left: 220px;
    margin-top: 50px;
    align-items: flex-start;
    gap: 200px;
}

.work_t img {
    width: 250px;
    height: auto;
}

.work_t table {
    border-collapse: collapse;
    width: 60%;
}

.work_t th , td {
    border-collapse: collapse;
    border: 2px solid black;
}

.work_t th {
    padding: 2em;
}

.work_t td {
    padding: 1em;
}

.parawork {
    margin: 120px 60px 60px 60px;
    padding: 8px;
}

.contact {
    width: 600px;
    margin: 40px;
    padding: 20px;
}

.contact h1 {
    margin-bottom: 20px;
}

form {
    margin-left: 360px;
    width: 500px;
    border: 1px solid grey;
    background-color:whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
}

label {
    margin-top:16px;
    margin-bottom: 6px;
    font-size: 14px;
}

input, select, textarea {
    padding: 8px;
    border: 2 px solid black;
    border-radius: 4px;
    font-size: 14px;
    border: none;
}

textarea {
    resize: vertical;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 6px 12px;
    margin-right: 6px;
    border: 1px solid silver;
    background: #f5f5f5;
    cursor: pointer;
}

button:hover {
    background: #eaeaea;
}